.sapMSplitContainerMaster {
	transition: width 0.5s;
}
.sapMSplitContainer .sapMSplitContainerMasterCollapsed{
	width: 2rem;
}
div.sapTntSideNavigation div.sapTntSideNavigationFlexible {
	overflow-y:hidden !important;
}
div.sapTntSideNavigationVerticalScrolling{
	height:auto;
}

.sapMSplitContainerMasterCollapsed div.logogrid {
	padding:0px !important;
}
div.logogrid > div {
	margin: 0px !important;
	width:50% !important;
	min-width:2rem;
}

.side-navigation ul.sapMListUl li.sapMLIB {
	height: 2rem;
	padding:0px;
}
.side-navigation ul.sapMListUl li.sapMLIB .sapMLIBContent  {
	transition: padding 0.5s;
	padding-left:3rem;
	margin-left:0px;
}
.sapMSplitContainerMasterCollapsed .side-navigation ul.sapMListUl li.sapMLIB .sapMLIBContent  {
	padding-left:2.5rem;
}
.side-navigation ul.sapMListUl li.sapMSLIIcon .sapMLIBContent  {
	transition: padding 0.5s;
	padding:0px 0.5rem;
}
.sapMSplitContainerMasterCollapsed .side-navigation ul.sapMListUl li.sapMSLIIcon .sapMLIBContent  {
	padding: 0px;
}
.side-navigation ul.sapMListUl li.sapMLIB .sapMLIBContent .sapMSLIImgThumbIcon  {
	font-size: 1.5rem;
	margin-right:0.5rem;
	width:2rem;
}
.side-navigation ul.sapMListUl li.sapMLIB .sapMLIBContent .sapMSLIImgThumbIcon .s  {
	font-size: 1.5rem;
}